extends layout

block content

    div.top-nav
        a(href="/")
            button.evil-or-not-btn.btn.btn-primary Back to the game
        a(href="/standings")
            button.standings-btn.btn.btn-warning Standings

    div.container.col-sm-8.col-sm-offset-2
        div.row
            div.end-message.text-center
                h2 #{msg}
                h3 Perhaps you'd like to add another character?
                div.add-btn
                    a(href="/upload_image")
                        button.btn.btn-info Add character
