extends layout

block content
    
    div.top-nav
        a(href="/")
            button.evil-or-not-btn.btn.btn-primary Back to the game
        a(href="/standings")
            button.standings-btn.btn.btn-warning Standings
    
    div.container.col-sm-8.col-sm-offset-2
        div.row
            h1.text-center Evil Or Not?
            div#game-wrapper
                div#img-wrapper
                    img(src="#{imageToRender}")
                div.text-center#character
                    h3= imageTitle
                div.text-center#btns-wrapper
                    a(href="/vote/evil/#{imageId}")
                        button.evil-btn.btn.btn-danger Evil!
                    span or
                    a(href="/vote/not/#{imageId}")
                        button.not-evil-btn.btn.btn-success Not!  
    
