extends layout

block content
    
    div.top-nav
        a(href="/")
            button.evil-or-not-btn.btn.btn-primary Back to the game
        a(href="/standings")
            button.standings-btn.btn.btn-warning Standings
