/* line 1, ../../compass/sass/styles.scss */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 6, ../../compass/sass/styles.scss */
a {
  color: #00B7FF;
}
