/* line 1, ../../compass/sass/styles.scss */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 7, ../../compass/sass/styles.scss */
.top-nav button {
  border-radius: 0;
}

/* line 13, ../../compass/sass/styles.scss */
.evil-or-not-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
}

/* line 20, ../../compass/sass/styles.scss */
.standings-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
}

/* line 27, ../../compass/sass/styles.scss */
#game-wrapper {
  height: 400px;
  width: 300px;
  margin: auto;
}

/* line 35, ../../compass/sass/styles.scss */
#img-wrapper img {
  display: block;
  width: 300px;
  height: 400px;
}

/* line 43, ../../compass/sass/styles.scss */
#btns-wrapper span {
  font-size: 18px;
}

/* line 49, ../../compass/sass/styles.scss */
.evil-btn {
  margin: 10px;
  width: 100px;
}

/* line 54, ../../compass/sass/styles.scss */
.not-evil-btn {
  margin: 10px;
  width: 100px;
}
